.about-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background-color: #132237;
  color: #B8D8D8; 
  
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

.divider {
  background-color: #1e7099;
  width: 1px;
  height: 100%;
  border-radius: 1rem;
}

.section-1 {
  padding: 0.25rem 0;
  width: calc(50% - 2.1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-2 {
  padding: 0.25rem 0;
  width: calc(50% - 2.1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem 0.7rem;
}
