.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #132237;
}

.main-column {
  height: 100%;
  flex-grow: 1;
  max-width: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .slide-box { */
/*   background-color: yellow; */
/* } */

.button-area {
  min-width: 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-circle {
  width: 3rem;
  height: 3rem;
  display: flex;

  border: solid;
  border-radius: 20rem;
  border-color: #666;
  border-width: 2px;

  justify-content: center;
  align-items: center;
}

.button-circle img {
  width: 1rem;
  height: 1rem;
}

.book-placeholder {
  height: 10rem;
}

