.header-container {
  width: 100%;
  display: flex;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #1e7099;
  padding: 0.5rem;
}

.header-text {
  font-size: 1.75rem;
  color: #1e7099;
  color: #EBB723;
}
